<!DOCTYPE html>
<html>
	<head th:replace="~{templates :: head}"></head>

	<body>
	
		<div th:replace="~{templates :: header}"></div>
		
		<div class="container text-center">
		
			<div class="mb-2">
			<div th:if="${user.photo == null}">
					<a th:href="@{/profile/details}" class="btn btn-outline-dark" style="border-radius: 50%"><i class="fas fa-user" style="font-size: 3em;"></i></a>
				</div>
				<div th:if="${user.photo != null}">
					<img class="p-0 m-0 img-profile-grande shadow-nova-branca" alt="Image" th:src="@{/profile/image/{id}(id=${user.id})}"/>
				</div>
				<h4>Edit password</h4>
			</div>
				
				
				
				<form class="card-body" th:action="@{/profile/updatePhoto}" method="post" enctype="multipart/form-data">
							
					<div class="form-group row mb-3" style="text-align: left">
						<div class=" col-12 col-sm-12">
							<label class="col-form-label" for="photo">Nova photo de profile</label>
						</div>
						<div class="col-12 col-sm-12">
							<input class="form-control  shadow-nova" type="file" id="photo" name="photoFile" required/>
						</div>
					</div>

					<div class="mb-3">
						<button type="submit" class="btn btn-outline-success card-button" style="width: 100%">Update photo</button>
					</div>
					
					<div class="mb-3">
						<a class="btn btn-outline-danger card-button" th:href="@{/profile/details}"  style="width: 100%">Return</a>
					</div>
			</form>
		</div>
		<footer th:replace="~{templates :: footer}"></footer>
	</body>
</html>