<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head th:replace="~{templates :: head}"></head>
	<body>

	<div th:replace="~{templates :: header}"></div>
	
	<div class="container">
		<div sec:authorize="hasAuthority('USER')"class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>Request a new medication</p>
					</div>
					<div class="col-12">
						<form method="POST" th:action="@{/user/generateRequest}" enctype="multipart/form-data">
							<button type="submit" class="btn btn-outline-primary card-button"><i class="fas fa-plus  m-2 mt-0 mb-0"></i>
								New request</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div sec:authorize="hasAuthority('USER')"class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>See your requests that have been completed, in progress or have been declined</p>
					</div>
					<div class="col-12">
						<a th:href="@{user/requests}" class="btn btn-outline-primary card-button"><i class="fas fa-list m-2 mt-0 mb-0"></i>
							My requests</a>
					</div>
				</div>
			</div>
		</div>
		
		<div sec:authorize="hasAuthority('USER')"class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>
							See the stations located in your region</p>
					</div>
					<div class="col-12">
						<a  th:href="@{user/posts}" class="btn btn-outline-primary card-button"><i class="fas fa-map m-2 mt-0 mb-0"></i>
							Nearby stations</a>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div sec:authorize="hasAuthority('USER')"class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>
							For questions, suggestions and complaints</p>
					</div>
					<div class="col-12">
						<a th:href="@{comment/homeComments}" class="btn btn-outline-primary card-button"><i class="fas fa-question-circle m-2 mt-0 mb-0"></i>
							Doubts/Suggestions</a>
					</div>
				</div>
			</div>
		</div>
		
		<div sec:authorize="hasAuthority('ADMIN')" class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>Registered users</p>
					</div>
					<div class="col-12">
						<a th:href="@{admin/users}" class="btn btn-outline-primary card-button"><i class="fas fa-user m-2 mt-0 mb-0"></i></i>View users</a>
					</div>
				</div>
			</div>
		</div>
		
		<div sec:authorize="hasAuthority('ADMIN')" class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>Registered posts</p>
					</div>
					<div class="col-12">
						<a th:href="@{/admin/posts}" class="btn btn-outline-primary card-button"><i class="fas fa-building m-2 mt-0 mb-0"></i>View posts</a>
					</div>
				</div>
			</div>
		</div>
		
		<div sec:authorize="hasAuthority('ADMIN')"  class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>Registered medications</p>
					</div>
					<div class="col-12">
						<a th:href="@{admin/medications}" class="btn btn-outline-primary card-button"><i class="fas fa-pills m-2 mt-0 mb-0"></i>View medications</a>
					</div>
				</div>
			</div>
		</div>
		
		<div sec:authorize="hasAuthority('ADMIN')"  class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>Registered regions</p>
					</div>
					<div class="col-12">
						<a th:href="@{admin/regions}" class="btn btn-outline-primary card-button"><i class="fas fa-map-pin m-2 mt-0 mb-0"></i>View regions</a>
					</div>
				</div>
			</div>
		</div>
		
		<div sec:authorize="hasAuthority('ADMIN')"  class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>Manage requests</p>
					</div>
					<div class="col-12">
						<a th:href="@{admin/requestsAdmin}" class="btn btn-outline-primary card-button"><i class="fas fa-list m-2 mt-0 mb-0"></i>Requests</a>
					</div>
				</div>
			</div>
		</div>
		
		<div sec:authorize="hasAuthority('ADMIN')"  class="card text-center shadow-nova mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-12 card-descricao">
						<p>Questions/Suggestions</p>
					</div>
					<div class="col-12">
						<a th:href="@{comment/homeComments}" class="btn btn-outline-primary card-button"><i class="fas fa-question-circle m-2 mt-0 mb-0"></i>Questions/Suggestions</a>
					</div>
				</div>
			</div>
		</div>
	
	</div>
	
	<footer th:replace="~{templates :: footer}"></footer>
	
</body>
</html>