<!DOCTYPE html>
<html>
<head th:replace="~{templates :: head}"></head>

	<body>
		<div th:replace="~{templates :: header}"></div>
	
		<div class="container text-center">
			<h2 class="mb-3">Request feito com sucesso! </h2>
			<h2 class="mb-3 telas-void-fontsize"> Aguarde para ser aprovado ou reprovado.</h2>
			<form method="POST" th:action="@{/user/generateRequest}" enctype="multipart/form-data">
				<button type="submit" class="btn btn-outline-primary card-button mb-3"><i class="fas fa-plus  m-2 mt-0 mb-0"></i> Nova solicitação</button>
			</form>	
			<a th:href="@{/user/requests}" class="btn btn-outline-primary mb-3 card-button shadow-nova"><i class="fas fa-list m-2 mt-0 mb-0"></i>Lista de requests</a>
			<a th:href="@{/home}" class="btn btn-outline-dark mb-3 card-button shadow-nova">Return para menu</a>
		</div>
		
		<footer th:replace="~{templates :: footer}"></footer>
	</body>
</html>